<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Welcome Home!
				</h2>
				<p>
					Checkout the feed for the latest posts. Login to make your own!
				</p>
				<p>
          <%= link_to "Posts", posts_path, class: "btn btn-primary btn-large" %>
				</p>
			</div>
		</div>
	</div>
</div>